@import './fonts/bebasneue.css';

body {
  font-size: 24px;
  line-height: 28px;
}

.container {
  max-width: 1220px;
  padding: 0 20px;
  margin: 0 auto;
}

.header__content {
  margin: 16px 0 8px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.header__logo {
  width: 212px;
  height: 68px;
}

.header__navigation {
  text-align: right;
}

.top-row {
  margin-top: 10px;
}
.bottom-row {
  margin-top: -13px;
}

.header__navigation_link {
  margin-left: 5px;
  font-family: Open Sans Condensed;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}
.header__navigation_link:hover {
  text-decoration: none;
  color: #3590CC;
}

/*5 задание*/
.cube {
  padding: 10px 10px 10px 10px;
  display: grid;
  grid-gap: 1px 1px 1px;
  grid-column: auto;
}
.createdblock {
  width: 200px;
  height: 200px; 
  background-color: rgb(35, 183, 228);
}
.createdblock-img {
  width: 150px;
  height: 150px; 
}
/*6 задание*/

.addbox {
  width: 100px;
  height: 100px;
  background-color: green;
}

.addblock {
  width: 100px;
  height: 100px;
  background-color: yellow;
}
/*7 задание - лист с заданиями*/

.to-do {
  color: black;
  font-family: sans-serif;
  font-size: 20px;
}

.to-do_content{
  background: rgb(165, 236, 215);
  display: block;
  width: 600px;
  margin: 100px auto;
  border: 2px solid black;
  border-radius: 15px;
  padding: 20px 16px 30px;
  line-height: 18px;
}

.to-do_title {
  font-size: 30px;
  margin: 15px;
}

button {
  color: #888;
  font-family: sans-serif;
  cursor: pointer;
  float: right;
}
button:hover {
  color: black;
}

.to-do__input[type="text"]:focus {
  color: black;
}

.to-do__input {
  margin: 5px 5px;
  border: 1px solid #ddd;
  color: #888;
  width: 100px;
}

#dissolution{
  width: 300px;
  height: 200px;
  background: rgb(17, 219, 142);
  margin: 20px;
}


/*8 задание - таймер*/
.time-to {
  background: #F1F1F1;
}

.time-to__content {
  padding: 49px 0 59px 0;
}
.time-to__title {
  font-family: 'Bebas Neue';
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
}
#data_enter {
  margin-bottom: 33px;
  margin-top: 35px;
  border: 2px solid #3590CC;
  box-sizing: border-box;
  width: 380px;
  height: 42px;
}

.time-to__result {
font-family: 'Roboto', sans-serif;
font-size: 24px;
line-height: 28px;
}

/*8 задание - ламочки*/

.light-bulbs__content{
  padding: 64px 0 63px 0;
}

.light-bulbs__title {
  font-family: 'Bebas Neue';
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
}
.lamps {
  display: flex;
  flex-direction: row;
  padding-top: 33px;
}
.lamps__black {
  background: url('./img/black_lampOFF.png') no-repeat center / cover;
  width: 75px;
  height: 80px;
  margin-right: 25px;
}
.lamps__yellow {
  background: url('./img/yellow_lampOFF.png') no-repeat center / cover;
  width: 80px;
  height: 80px;
  margin-right: 17px;
}
.lamps__blue {
  background: url('./img/blue_lampOFF.png') no-repeat center / cover;
  width: 80px;
  height: 86px;
}

.lamp__black-on {
  background: url('./img/black_lamp.png') no-repeat center / cover;
  width: 75px;
  height: 80px;
  margin-right: 25px;
  filter: drop-shadow(0 0 3px #000);
}

.lamp__yellow-on {
  background: url('./img/yellow_lamp.png') no-repeat center / cover;
  width: 80px;
  height: 80px;
  margin-right: 17px;
  filter: drop-shadow(0 0 3px #000);
}

.lamp__blue-on {
  background: url('./img/blue_lamp.png') no-repeat center / cover;
  width: 80px;
  height: 86px;
  filter: drop-shadow(0 0 3px #000);
}

/*8 задание - паралакс*/

.paralax {
  background: #F1F1F1;
}
.paralax__content {
  padding: 64px 0 9px 0;
  overflow: hidden;
  z-index: -1;
}
.paralax__title {
  margin: -3px 0 78px 0;
  font-family: 'Bebas Neue';
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  word-wrap: break-word;
  width: 436px;
}

.parallax__image {
  margin: 0 auto;
  background: url('./img/paralax.png') no-repeat center / cover;
  width: 780px;
  height: 402px;
  position: relative;
  overflow: hidden;
}
.parallax__shadow {
  background: linear-gradient(to left,rgba(196, 196, 196, 0.7),rgba(196, 196, 196, 0.7));
  width: 780px;
  height: 402px;
}
.parallax__text{
  font-size: 64px;
  line-height: 64px;
  text-transform: uppercase;
  font-family: 'Bebas Neue', arial;
  color: #FFFFFF;
  left: 392px;
  bottom: 300px;
  position: relative;
}

/*8 задание - слайдер*/

.slider__title{
  padding: 58px 0 62px 0;
  font-family: 'Bebas Neue';
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  word-wrap: break-word;
  width: 436px;
}

.wrap-slider {
  position: relative;
}
.slider {
  margin: 0 auto;
  width: 780px;
  height: 437px;
  overflow: hidden;
}
.slider img {
  background: no-repeat center / cover;
  width: 780px;
  height: 437px;
}

.slider-nav .slider-arrow {
  position: absolute;
  bottom: 210px;
  cursor: pointer;
}
.slider-nav .slider-left {
  left: 100px;
}
.slider-nav .slider-right {
  right: 99px;;
}

.slider-dots {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 45px;
}
.slider-dots_item {
  margin-left: 3px;
    cursor: pointer;
    height: 6px;
    width: 6px;
    background: #9C9C9C;    
    border-radius: 50%;
}
.active, .dot:hover {
  background: #3590CC;
}


.slide {
  -webkit-animation-name: slide;
  -webkit-animation-duration: 2s;
  animation-name: slide;
  animation-duration: 2s;
}

@-webkit-keyframes slide {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes slide {
  from {opacity: .4} 
  to {opacity: 1}
}

